/* styles/Home.module.css */

@keyframes loadingAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-cursor {
    display: inline-block;
    width: 15px;
    height: 2rem; 
    background-color: white;
    vertical-align: middle;
    animation: blink 1s step-end infinite;
}
